In [1]:
#Check current working directory and import packages
import os
wd = os.getcwd() 
print(wd)

import sqlalchemy
from sqlalchemy import create_engine
import pandas as pd
import psycopg2
import plotly.express as px
import datetime

/Users/Arta/Documents/Funda

Create postgres connection and read in tables

In [2]:
#Create database connection and read tables
engine = create_engine('postgresql://localhost/funda')

#Read table houses from Database
houses = pd.read_sql_table(
    "houses",
    con=engine
)

#Change value 'NULL' to 0 in order to change column to numeric
houses.loc[houses['koopprijs'] == 'NULL', 'koopprijs'] = 0

#Set column koopprijs as numeric
houses['koopprijs'] = pd.to_numeric(houses['koopprijs'])

#Change columns to datetime
houses['datum_ondertekening'] = pd.to_datetime(houses['datum_ondertekening'], format='%Y-%m-%d')
houses['publicatiedatum'] = pd.to_datetime(houses['publicatiedatum'], format='%Y-%m-%d')

#Create a new column with the name of the selling month
houses['SellingMonth'] = houses['datum_ondertekening'].dt.strftime('%m') #Month number


#Read table municipalities from Database
municipalities = pd.read_sql_table(
    "municipalities",
    con=engine
)

#Read table districts from Database
districts = pd.read_sql_table(
    "districts",
    con=engine
)

#Read table neighborhoods from Database
neighborhoods = pd.read_sql_table(
    "neighborhoods",
    con=engine
)

#Read table zipcodes from Database
zipcodes = pd.read_sql_table(
    "zipcodes",
    con=engine
)

In [4]:
#Read table age_groups from Database
age_groups = pd.read_sql_table(
    "age_groups",
    con=engine
)

#Remove white space from columns (spaces after value)
age_groups['soortregio_2'] = age_groups['soortregio_2'].str.strip()
age_groups['wijkenenbuurten'] = age_groups['wijkenenbuurten'].str.strip()
age_groups['gemeentenaam_1'] = age_groups['gemeentenaam_1'].str.strip()
age_groups['k_0tot15jaar_8'] = age_groups['k_0tot15jaar_8'].str.strip()
age_groups['k_15tot25jaar_9'] = age_groups['k_15tot25jaar_9'].str.strip()
age_groups['k_25tot45jaar_10'] = age_groups['k_25tot45jaar_10'].str.strip()
age_groups['k_45tot65jaar_11'] = age_groups['k_45tot65jaar_11'].str.strip()
age_groups['k_65jaarofouder_12'] = age_groups['k_65jaarofouder_12'].str.strip()

#Columns to numeric
age_groups['k_0tot15jaar_8'] = pd.to_numeric(age_groups['k_0tot15jaar_8'])
age_groups['k_15tot25jaar_9'] = pd.to_numeric(age_groups['k_15tot25jaar_9'])
age_groups['k_25tot45jaar_10'] = pd.to_numeric(age_groups['k_25tot45jaar_10'])
age_groups['k_45tot65jaar_11'] = pd.to_numeric(age_groups['k_45tot65jaar_11'])
age_groups['k_65jaarofouder_12'] = pd.to_numeric(age_groups['k_65jaarofouder_12'])


age_groups

#Join municipality name, district name and neighborhood name to zipcodes. Delete duplicate values (housenumbers)

#Select only pc6, buurt2019, wijk2019 and gemeente2019 from zipcodes
zipcodes2 = zipcodes[['pc6', 'gemeente2019', 'wijk2019', 'buurt2019']]

#Change name of pc6 column to postcode
zipcodes2.columns.values[0] = "postcode" 

#Remove duplicate values (Duplicates exist because of leaving out house number column)
zipcodes2 = zipcodes2.drop_duplicates(subset=None, keep="first", inplace=False)

#Join datasets zipcodes2, municipalities, districts and neighborhoods
zipp = pd.merge(zipcodes2, municipalities, left_on = 'gemeente2019', right_on = 'gemcode2019')
zipp = pd.merge(zipp, districts, left_on = 'wijk2019', right_on = 'wijkcode2019')
zipp = pd.merge(zipp, neighborhoods, left_on = 'buurt2019', right_on = 'buurtcode_2019')

#Select useful columns in right order
zipp = zipp[['postcode', 'gemeente2019', 'gemeentenaam2019', 'wijk2019', 'wijknaam_2019k_naam', 'buurt2019', 'buurtnaam_2019']]

zipp

,postcode,gemeente2019,gemeentenaam2019,wijk2019,wijknaam_2019k_naam,buurt2019,buurtnaam_2019
0,1011AB,363,Amsterdam,36304,Nieuwmarkt/Lastage,3630400,Oosterdokseiland
1,1011AC,363,Amsterdam,36304,Nieuwmarkt/Lastage,3630400,Oosterdokseiland
2,1011AD,363,Amsterdam,36304,Nieuwmarkt/Lastage,3630400,Oosterdokseiland
3,1011AE,363,Amsterdam,36304,Nieuwmarkt/Lastage,3630400,Oosterdokseiland
4,1011DD,363,Amsterdam,36304,Nieuwmarkt/Lastage,3630400,Oosterdokseiland
...,...,...,...,...,...,...,...
488310,9993TJ,24,Loppersum,2402,Wijk 02 Middelstum,240201,Westerwijtwerd
488311,9993TK,24,Loppersum,2402,Wijk 02 Middelstum,240201,Westerwijtwerd
488312,9993TL,24,Loppersum,2402,Wijk 02 Middelstum,240201,Westerwijtwerd
488313,9993TM,24,Loppersum,2402,Wijk 02 Middelstum,240201,Westerwijtwerd
488314,9993TN,24,Loppersum,2402,Wijk 02 Middelstum,240201,Westerwijtwerd

Extract gemeentecode, wijkcode and buurtcode from age_groups and merge with zipp

Finally, join the age_groups_zip_clean dataset to the houses dataset

In [5]:
#Extract gemeentecode, wijkcode and buurtcode from energy and merge with zipp

#Municipality code can consist of 1-4 numbers. By selecting the last 5 to 8 digits from wijkenenbuurten in energy where soortregio is Buurt, we collect all the neighborhood codes.
#Which we can join later with the houses dataset

#Gemeentecode with 4 digits
age_groups['gemcode'] = age_groups['wijkenenbuurten'].str[-4:] ##.str[-4:] selects the last for characters from a column
age_groups_gc = age_groups.loc[(age_groups['soortregio_2'] == 'Gemeente')] 

#Gemeentecode with 3 digits
age_groups['gemcode'] = age_groups['wijkenenbuurten'].str[-3:]
age_groups_gc1 = age_groups.loc[(age_groups['soortregio_2'] == 'Gemeente')]

#Gemeentecode with 2 digits
age_groups['gemcode'] = age_groups['wijkenenbuurten'].str[-2:]
age_groups_gc2 = age_groups.loc[(age_groups['soortregio_2'] == 'Gemeente')]

#Gemeentecode with 1 digits
age_groups['gemcode'] = age_groups['wijkenenbuurten'].str[-1:]
age_groups_gc3 = age_groups.loc[(age_groups['soortregio_2'] == 'Gemeente')]

#Merge with concat (all column names are the same)
age_groups_gcc = pd.concat([age_groups_gc, age_groups_gc1, age_groups_gc2, age_groups_gc3])

#Select usable columns
age_groups_gcc = age_groups_gcc[['gemcode', 'k_0tot15jaar_8', 'k_15tot25jaar_9', 'k_25tot45jaar_10', 'k_45tot65jaar_11', 'k_65jaarofouder_12']]

#Drop the duplicates ()
age_groups_gcc = age_groups_gcc.drop_duplicates(subset='gemcode', keep="first", inplace=False)

#Change column names
age_groups_gcc.columns.values[0] = "gemcode" #Change colname to english
age_groups_gcc.columns.values[1] = "0_15_years_Municipality" #Change colname to english
age_groups_gcc.columns.values[2] = "15_25_years_Municipality" #Change colname to english
age_groups_gcc.columns.values[3] = "25_45_years_Municipality" #Change colname to english
age_groups_gcc.columns.values[4] = "45_65_years_Municipality" #Change colname to english
age_groups_gcc.columns.values[5] = "65_older_years_Municipality" #Change colname to english

#District code can consist of 3 - 6 numbers. By selecting the last 5 to 8 digits from wijkenenbuurten in energy where soortregio is Buurt, we collect all the neighborhood codes.
#Which we can join later with the houses dataset

#Wijkcode with 6 digits
age_groups['wijkcode'] = age_groups['wijkenenbuurten'].str[-6:]
age_groups_wc = age_groups.loc[(age_groups['soortregio_2'] == 'Wijk')] 

#Wijkcode with 5 digits
age_groups['wijkcode'] = age_groups['wijkenenbuurten'].str[-5:]
age_groups_wc1 = age_groups.loc[(age_groups['soortregio_2'] == 'Wijk')]

#Wijkcode with 4 digits
age_groups['wijkcode'] = age_groups['wijkenenbuurten'].str[-4:]
age_groups_wc2 = age_groups.loc[(age_groups['soortregio_2'] == 'Wijk')]

#Wijkcode with 3 digits
age_groups['wijkcode'] = age_groups['wijkenenbuurten'].str[-3:]
age_groups_wc3 = age_groups.loc[(age_groups['soortregio_2'] == 'Wijk')]

#Merge with concat (all column names are the same)
age_groups_wcc = pd.concat([age_groups_wc, age_groups_wc1, age_groups_wc2, age_groups_wc3])

#Select usable columns
age_groups_wcc = age_groups_wcc[['wijkcode', 'k_0tot15jaar_8', 'k_15tot25jaar_9', 'k_25tot45jaar_10', 'k_45tot65jaar_11', 'k_65jaarofouder_12']]

#Drop the duplicates ()
age_groups_wcc = age_groups_wcc.drop_duplicates(subset='wijkcode', keep="first", inplace=False)

#Change column names
age_groups_wcc.columns.values[0] = "wijkcode" #Change colname to english
age_groups_wcc.columns.values[1] = "0_15_years_District" #Change colname to english
age_groups_wcc.columns.values[2] = "15_25_years_District" #Change colname to english
age_groups_wcc.columns.values[3] = "25_45_years_District" #Change colname to english
age_groups_wcc.columns.values[4] = "45_65_years_District" #Change colname to english
age_groups_wcc.columns.values[5] = "65_older_years_District" #Change colname to english

#Neighborhood code can consist of 5 - 8 numbers. By selecting the last 5 to 8 digits from wijkenenbuurten in energy where soortregio is Buurt, we collect all the neighborhood codes.
#Which we can join later with the houses dataset

#Buurtcodes with 8 digits
age_groups['buurtcode'] = age_groups['wijkenenbuurten'].str[-8:]
age_groups_bc = age_groups.loc[(age_groups['soortregio_2'] == 'Buurt')] 

#Buurtcodes with 7 digits
age_groups['buurtcode'] = age_groups['wijkenenbuurten'].str[-7:]
age_groups_bc1 = age_groups.loc[(age_groups['soortregio_2'] == 'Buurt')]

#Buurtcodes with 6 digits
age_groups['buurtcode'] = age_groups['wijkenenbuurten'].str[-6:]
age_groups_bc2 = age_groups.loc[(age_groups['soortregio_2'] == 'Buurt')]

#Buurtcodes with 5 digits
age_groups['buurtcode'] = age_groups['wijkenenbuurten'].str[-5:]
age_groups_bc3 = age_groups.loc[(age_groups['soortregio_2'] == 'Buurt')]

#Merge with concat (all column names are the same)
age_groups_bcc = pd.concat([age_groups_bc, age_groups_bc1, age_groups_bc2, age_groups_bc3])

#Select usable columns
age_groups_bcc = age_groups_bcc[['buurtcode', 'k_0tot15jaar_8', 'k_15tot25jaar_9', 'k_25tot45jaar_10', 'k_45tot65jaar_11', 'k_65jaarofouder_12']]

#Drop the duplicates ()
age_groups_bcc = age_groups_bcc.drop_duplicates(subset='buurtcode', keep="first", inplace=False)

#Change column names
age_groups_bcc.columns.values[0] = "buurtcode" #Change colname to english
age_groups_bcc.columns.values[1] = "0_15_years_Neighborhood" #Change colname to english
age_groups_bcc.columns.values[2] = "15_25_years_Neighborhood" #Change colname to english
age_groups_bcc.columns.values[3] = "25_45_years_Neighborhood" #Change colname to english
age_groups_bcc.columns.values[4] = "45_65_years_Neighborhood" #Change colname to english
age_groups_bcc.columns.values[5] = "65_older_years_Neighborhood"#Change colname to english

#Inner join the the datasets age_groups_gcc, age_groups_dcc and age_groups_bcc to the zipp
#Perform joins age_groups and zip
age_groups_zip = pd.merge(zipp, age_groups_gcc, left_on = 'gemeente2019', right_on = 'gemcode', how = 'inner')  
age_groups_zip = pd.merge(age_groups_zip, age_groups_wcc, left_on = 'wijk2019', right_on = 'wijkcode', how = 'inner') 
age_groups_zip = pd.merge(age_groups_zip, age_groups_bcc, left_on = 'buurt2019', right_on = 'buurtcode', how = 'inner') 

#Overview of dataset age_groups_zip
#age_groups_zip #Containing 453185 rows, zipp has 488315 rows -> 35130 rows (postcodes) lost because of missing data.

#Clean column names for age_groups_zip

#Select columns
age_groups_zip_clean = age_groups_zip[['postcode', 'gemeentenaam2019', 'wijknaam_2019k_naam', 'buurtnaam_2019', 
                                       '0_15_years_Municipality', '15_25_years_Municipality', '25_45_years_Municipality', '45_65_years_Municipality', '65_older_years_Municipality',
                                       '0_15_years_District', '15_25_years_District', '25_45_years_District', '45_65_years_District', '65_older_years_District',
                                       '0_15_years_Neighborhood', '15_25_years_Neighborhood', '25_45_years_Neighborhood', '45_65_years_Neighborhood', '65_older_years_Neighborhood']]

#Change colnames
age_groups_zip_clean.columns.values[0] = "Postcode"
age_groups_zip_clean.columns.values[1] = "Municipality"
age_groups_zip_clean.columns.values[2] = "District"
age_groups_zip_clean.columns.values[3] = "Neighborhood"

#Overview
age_groups_zip_clean

,Postcode,Municipality,District,Neighborhood,0_15_years_Municipality,15_25_years_Municipality,25_45_years_Municipality,45_65_years_Municipality,65_older_years_Municipality,0_15_years_District,15_25_years_District,25_45_years_District,45_65_years_District,65_older_years_District,0_15_years_Neighborhood,15_25_years_Neighborhood,25_45_years_Neighborhood,45_65_years_Neighborhood,65_older_years_Neighborhood
0,1011AB,Amsterdam,Nieuwmarkt/Lastage,Oosterdokseiland,126007,109354,304288,208818,105580,810,1180,3270,2875,1645,60,35,220,130,45
1,1011AC,Amsterdam,Nieuwmarkt/Lastage,Oosterdokseiland,126007,109354,304288,208818,105580,810,1180,3270,2875,1645,60,35,220,130,45
2,1011AD,Amsterdam,Nieuwmarkt/Lastage,Oosterdokseiland,126007,109354,304288,208818,105580,810,1180,3270,2875,1645,60,35,220,130,45
3,1011AE,Amsterdam,Nieuwmarkt/Lastage,Oosterdokseiland,126007,109354,304288,208818,105580,810,1180,3270,2875,1645,60,35,220,130,45
4,1011DD,Amsterdam,Nieuwmarkt/Lastage,Oosterdokseiland,126007,109354,304288,208818,105580,810,1180,3270,2875,1645,60,35,220,130,45
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
453180,9993TJ,Loppersum,Wijk 02 Middelstum,Westerwijtwerd,2731,2241,3781,5646,3999,405,295,500,700,490,100,75,115,150,20
453181,9993TK,Loppersum,Wijk 02 Middelstum,Westerwijtwerd,2731,2241,3781,5646,3999,405,295,500,700,490,100,75,115,150,20
453182,9993TL,Loppersum,Wijk 02 Middelstum,Westerwijtwerd,2731,2241,3781,5646,3999,405,295,500,700,490,100,75,115,150,20
453183,9993TM,Loppersum,Wijk 02 Middelstum,Westerwijtwerd,2731,2241,3781,5646,3999,405,295,500,700,490,100,75,115,150,20
453184,9993TN,Loppersum,Wijk 02 Middelstum,Westerwijtwerd,2731,2241,3781,5646,3999,405,295,500,700,490,100,75,115,150,20

In [ ]:
#Perform join on munic. level
housescomplete = pd.merge(houses, age_groups_zip_clean, left_on = 'postcode', right_on = 'Postcode', how = 'inner')

#create a new column 'Total inhabitans'
#age_group 0 to 15 years is not interesting for our df -> that's why not included
housescomplete['Total inhabitants_M'] = housescomplete['15_25_years_Municipality'] + housescomplete['25_45_years_Municipality'] + housescomplete['45_65_years_Municipality'] +  housescomplete['65_older_years_Municipality']

#drop the duplicates
housescomplete = housescomplete.drop_duplicates(subset='globalid', keep="first", inplace=False)

#Overview of dataset
housescomplete #206115 rows, houses contains 211617 rows -> 5502 rows lost becuase of missing data.

#create a subset with the important column to calculate the Avg. price
priceperage = housescomplete[['postcode', 'koopprijs', 'Municipality']]

#calculate avg price for netherlands (and not also for age_groups)
housescomplete['Avg Selling Price Netherlands'] = housescomplete['koopprijs'].mean()

#create a subset with the important column to calculate the Avg. price per age_groups
PricePerAgeMunciComplete = housescomplete[['Municipality', 'Avg Selling Price Netherlands', '15_25_years_Municipality', '25_45_years_Municipality', '45_65_years_Municipality', '65_older_years_Municipality', 'Total inhabitants']]
PricePerAgeMunciComplete = PricePerAgeMunciComplete.drop_duplicates(subset='Municipality', keep="first", inplace=False)

PricePerAgeMunciComplete['Avg Price per 15-25 Years'] = (PricePerAgeMunciComplete['15_25_years_Municipality']/PricePerAgeMunciComplete['Total inhabitants_M']) * PricePerAgeMunciComplete['Avg Selling Price Netherlands']
PricePerAgeMunciComplete['Avg Price per 25-45 Years'] = (PricePerAgeMunciComplete['25_45_years_Municipality']/PricePerAgeMunciComplete['Total inhabitants_M']) * PricePerAgeMunciComplete['Avg Selling Price Netherlands']
PricePerAgeMunciComplete['Avg Price per 45-65 Years'] = (PricePerAgeMunciComplete['45_65_years_Municipality']/PricePerAgeMunciComplete['Total inhabitants_M']) * PricePerAgeMunciComplete['Avg Selling Price Netherlands']
PricePerAgeMunciComplete['Avg Price per 65+ Years'] = (PricePerAgeMunciComplete['65_older_years_Municipality']/PricePerAgeMunciComplete['Total inhabitants_M']) * PricePerAgeMunciComplete['Avg Selling Price Netherlands']
PricePerAgeMunciComplete = PricePerAgeMunciComplete[['Municipality', 'koopprijs', 'Avg Price per 15-25 Years', 'Avg Price per 25-45 Years', 'Avg Price per 45-65 Years', 'Avg Price per 65+ Years']]
PricePerAgeMunciComplete

In [ ]:
#Perform join on district level
housescomplete = pd.merge(houses, age_groups_zip_clean, left_on = 'postcode', right_on = 'Postcode', how = 'inner')

#create a new column 'Total inhabitans'
housescomplete['Total inhabitants_D'] = housescomplete['15_25_years_District'] + housescomplete['25_45_years_District'] + housescomplete['45_65_years_District'] +  housescomplete['65_older_years_District']

#drop the duplicates
housescomplete = housescomplete.drop_duplicates(subset='globalid', keep="first", inplace=False)

#Overview of dataset
housescomplete #206115 rows, houses contains 211617 rows -> 5502 rows lost becuase of missing data.

#create a subset with the important column to calculate the Avg. price
priceperage = housescomplete[['postcode', 'koopprijs', 'District']]

#calculate avg price for netherlands (and not also for age_groups)
housescomplete['Avg Selling Price Netherlands'] = housescomplete['koopprijs'].mean()

#create a subset with the important column to calculate the Avg. price per age_groups
PricePerAgeDistrictComplete = housescomplete[['District', 'Avg Selling Price Netherlands','15_25_years_District', '25_45_years_District', '45_65_years_District', '65_older_years_District', 'Total inhabitants_D']]
PricePerAgeDistrictComplete = PricePerAgeDistrictComplete.drop_duplicates(subset='District', keep="first", inplace=False)

PricePerAgeDistrictComplete['Avg Price per 15-25 Years'] = (PricePerAgeDistrictComplete['15_25_years_Municipality']/PricePerAgeDistrictComplete['Total inhabitants_D']) * PricePerAgeDistrictComplete['Avg Selling Price Netherlands']
PricePerAgeDistrictComplete['Avg Price per 25-45 Years'] = (PricePerAgeDistrictComplete['25_45_years_Municipality']/PricePerAgeDistrictComplete['Total inhabitants_D']) * PricePerAgeDistrictComplete['Avg Selling Price Netherlands']
PricePerAgeDistrictComplete['Avg Price per 45-65 Years'] = (PricePerAgeDistrictComplete['45_65_years_Municipality']/PricePerAgeDistrictComplete['Total inhabitants_D']) * PricePerAgeDistrictComplete['Avg Selling Price Netherlands']
PricePerAgeDistrictComplete['Avg Price per 65+ Years'] = (PricePerAgeDistrictComplete['65_older_years_Municipality']/PricePerAgeDistrictComplete['Total inhabitants_D']) * PricePerAgeDistrictComplete['Avg Selling Price Netherlands']
PricePerAgeDistrictComplete = PricePerAgeDistrictComplete[['District', 'koopprijs', 'Avg Price per 15-25 Years', 'Avg Price per 25-45 Years', 'Avg Price per 45-65 Years', 'Avg Price per 65+ Years']]
PricePerAgeDistrictComplete

In [ ]:
#Perform join on neighborhood level
housescomplete = pd.merge(houses, age_groups_zip_clean, left_on = 'postcode', right_on = 'Postcode', how = 'inner')

#create a new column 'Total inhabitans'
housescomplete['Total inhabitants_N'] = housescomplete['0_15_years_Neighborhood'] + housescomplete['25_45_years_Neighborhood'] + housescomplete['45_65_years_Neighborhood'] +  housescomplete['65_older_years_Neighborhood']

#drop the duplicates
housescomplete = housescomplete.drop_duplicates(subset='globalid', keep="first", inplace=False)

#Overview of dataset
housescomplete #206115 rows, houses contains 211617 rows -> 5502 rows lost becuase of missing data.

#calculate avg price for netherlands (and not also for age_groups)
housescomplete['Avg Selling Price Netherlands'] = housescomplete['koopprijs'].mean()

#create a subset with the important column to calculate the Avg. price per age_groups
PricePerAgeNeighComplete = housescomplete[['Neighborhood', 'Avg Selling Price Netherlands', '15_25_years_Neighborhood', '25_45_years_Neighborhood', '45_65_years_Neighborhood', '65_older_years_Neighborhood', 'Total inhabitants_N']]
PricePerAgeNeighComplete = PricePerAgeNeighComplete.drop_duplicates(subset='Neighborhood', keep="first", inplace=False)

PricePerAgeNeighComplete['Avg Price per 15-25 Years'] = (PricePerAgeNeighComplete['15_25_years_Neighborhood']/PricePerAgeNeighComplete['Total inhabitants_N']) * PricePerAgeNeighComplete['Avg Selling Price Netherlands']
PricePerAgeNeighComplete['Avg Price per 25-45 Years'] = (PricePerAgeNeighComplete['25_45_years_Neighborhood']/PricePerAgeNeighComplete['Total inhabitants_N']) * PricePerAgeNeighComplete['Avg Selling Price Netherlands']
PricePerAgeNeighComplete['Avg Price per 45-65 Years'] = (PricePerAgeNeighComplete['45_65_years_Neighborhood']/PricePerAgeNeighComplete['Total inhabitants_N']) * PricePerAgeNeighComplete['Avg Selling Price Netherlands']
PricePerAgeNeighComplete['Avg Price per 65+ Years'] = (PricePerAgeNeighComplete['65_older_years_Neighborhood']/PricePerAgeNeighComplete['Total inhabitants_N']) * PricePerAgeNeighComplete['Avg Selling Price Netherlands']
PricePerAgeNeighComplete = PricePerAgeNeighComplete[['Neighborhood', 'koopprijs', 'Avg Price per 15-25 Years', 'Avg Price per 25-45 Years', 'Avg Price per 45-65 Years', 'Avg Price per 65+ Years']]
PricePerAgeNeighComplete