#Python Cheatsheet

In [8]:
#This cheat sheet consists of all of the function used so far during the Funda project.

SQL Connection

In [14]:
#Create a connection with a database on your local laptop

#engine = create_engine('postgresql://localhost/DATABASE') #Creates a connection to postgresql on your local device to a database called DATABASE

#Read data from sql table
#DATA = pd.read_sql_table("SQLtable", con=engine) #Creates a new dataframe called DATA which consists of the data in a table named SQLtable

Operators

In [ ]:
#Operators used in Python

# == Equal
# != Not equal
# > Greater than
# < Less than
# >= Greater than or equal to
# <= Less than or equal to

Data manupilation

In [12]:
#Change datatypes

#DATA['NumericColumn'] = pd.to_numeric(DATA['NumericColumn']) #Changes the datatype of the column NumericColumn of the dataset DATA to a numeric value.
                                                              #Note: Numeric values are necessary to make calculations.
                                                              #Note: requires pandas (see pd.)

#DATA['DateColumn'] = pd.to_datetime(DATA['DateColumn'], format='%Y-%m-%d') #Changes the datatype of the column DateColumn of the dataset DATA to a datetime object.
                                                         #NOTE: the format '%Y-%m-%d' expects the date to be set like 2020-12-31
                                                         #NOTE: the format '%d-%m-%Y' expects the date to be set like 31-12-2020
                                                         #NOTE: the format '%m-%d-%Y' expects the date to be set like 12-31-2020 
                                                         #NOTE: the format '%Y/%m/%d' expects the date to be set like 2020/12/31

In [13]:
#Add a new column

#DATA['NewColumn'] = DATA['COLUMN1'] - DATA['COLUMN3'] #Creates a new column in the dataset DATA called NewColumn. The value is the subtraction of COLUMN1 - COLUMN3

#DATA['NewColumn'] = DATA['COLUMN1'].str[1:] #Creates a new column in the dataset DATA called NewColumn selecting everything from the second digit/character.
#DATA['NewColumn'] = DATA['COLUMN1'].str[-1:] #Creates a new column in the dataset DATA called NewColumn selecting the last digit/character.

In [10]:
#Change column names

#DATA.columns.values[0] = "Municipality" #Changes the name of the first column of the dataset DATA to Municipality
#DATA.columns.values[1] = "Municipality" #Changes the name of the second column of the dataset DATA to Municipality

#Note: Python starts counting from 0. First column = 0, First row = 0.

In [9]:
#Delete duplicate values (same values in multiple rows)

#DATA = DATA.drop_duplicates(subset=None, keep="first", inplace=False) #Deletes the duplicate values in a dataset called DATA and keeps the first of the duplicate values.
                                                                       #Subset defines the column where you want to remove the duplicates from.

In [ ]:
#Remove whitespace from a column (Whitespace is space after/before a string (spaces after the value))

#DATA['Column1'] = DATA['Column1'].str.strip() #Removes the whitespace after the values in the column Column1 in the dataset DATA.

Create a subset

In [7]:
#Create a subset of specific columns from a dataframe DATA

#DATA1 = DATA[['Columnname1', 'Columnname2', 'Columnname5']] #Creates a subset named DATA1 with only the columns Columnname1, Columnname2 and Columnname5

In [ ]:
#Create a subset based on a condition !!! #Will be used very often

#Subset = DATA.loc[(DATA['Column'] == 'Condition')] #Creates a subset called Subset from a dataframe called DATA based on the condition where column == 'condition'.
                                                    #Note: '' are used for strings.
    
#Subset = DATA.loc[(DATA['Column'] == Condition)] #Creates a subset called Subset from a dataframe called DATA based on the condition where the column == value.
                                                  #Note: When no '' are used, Python expects a numeric value.  

#Subset = DATA.loc[(DATA['Column'] != 'Condition')] #Creates a subset called Subset from a dataframe called DATA based on where the values are not equal to the condition.

Joining dataframes ##IMPORTANT

In [16]:
#Merge dataframes 

#NEWDATA = pd.merge(Dataset1, Dataset2, left_on = 'column1', right_on = 'column2', how = 'inner') #Inner joins dataframes Dataset1 and Dataset2 based on the columns specified.
#NEWDATA = pd.merge(Dataset1, Dataset2, left_on = 'column1', right_on = 'column2', how = 'left') #Left joins dataframes Dataset1 and Dataset2 based on the columns specified.
#NEWDATA = pd.merge(Dataset1, Dataset2, left_on = 'column1', right_on = 'column2', how = 'right') #Right joins dataframes Dataset1 and Dataset2 based on the columns specified.
#NEWDATA = pd.merge(Dataset1, Dataset2, left_on = 'column1', right_on = 'column2', how = 'outer') #Outer joins dataframes Dataset1 and Dataset2 based on the columns specified.

#NEWDATA = pd.merge(Dataset1, Dataset2, on = 'Column', how = 'inner') #Inner joins dataframes Dataset1 and Dataset2 based on the column Column which should be the same in both dataframes.

#Merge dataframes with the same columns
#NEWDATA = pd.concat([DATA1, DATA2, DATA3, DATA4]) #If datasets have the same columns we can use concat to put them under each other.

#Note: Requires the package pandas (see pd.)
#NOTE: For more information regarding joins, visit the documentation:
#https://pandas.pydata.org/pandas-docs/stable/user_guide/merging.html

GROUPBY ##IMPORTANT

In [15]:
#GroupedData = DATA[['CategoricalVariable', 'NumericVariable']] #Selects a categorical and a numerical column from the dataset DATA (as mentioned above)
#GroupedData = GroupedData.groupby(['CategoricalVariable']).mean() #Groups the data per value from the categorical value and calculates the mean per category.

#GroupedData = GroupedData.groupby(['CategoricalVariable']).agg({'NumericVariable': ['mean', 'min', 'max']}) #Groups the data per category and calculates the mean, the minimal and the maximal value.

#Note: Requires the package pandas
#NOTE: For more information regarding the groupby function, visit the documentation:
#https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.groupby.html