In [1]:
import os
wd = os.getcwd() 
print(wd)

import sqlalchemy
from sqlalchemy import create_engine
import pandas as pd
import psycopg2
import plotly.express as px
import datetime
import numpy as np
import string
from nltk import pos_tag
from nltk.corpus import stopwords
from nltk.tokenize import WhitespaceTokenizer
from nltk.stem import WordNetLemmatizer
from pathlib import Path
from collections import Counter
from fuzzywuzzy import fuzz

/Users/Arta/_Sentiment_Analysis

In [2]:
###Create database connection and read tables###
engine = create_engine('postgresql://localhost/')

#Read table reviews_food_beverages_tobacco from Database
reviews_food_beverages_tobacco = pd.read_sql_table(
    "reviews_food_beverages_tobacco",
    con=engine
)

#Read table companies_list from Database
companies_list = pd.read_sql_table(
    "list_companies",
    con=engine
)

In [3]:
companies_list.columns.values[1] = "company_market"

In [4]:
reviews_food_beverages_tobacco.columns.values[0] = "company_review"

In [5]:
companies_list.columns = companies_list.columns.to_series().apply(lambda x: x.strip())
reviews_food_beverages_tobacco.columns = reviews_food_beverages_tobacco.columns.to_series().apply(lambda x: x.strip())
reviews_food_beverages_tobacco

,company_review,category,total_reviews,general_rating,review_rating,review_text
0,Epic Cellars,Wine Cellar,786,5,5,A very easy and pleasant experience. The whole...
1,Epic Cellars,Wine Cellar,786,5,5,Great customer service and communication. Made...
2,Epic Cellars,Wine Cellar,786,5,5,From the first time reaching out to them to th...
3,Epic Cellars,Wine Cellar,786,5,5,"Highly recommend. Very easy to work with, and ..."
4,Epic Cellars,Wine Cellar,786,5,5,We absolutely loved dealing with Epic Cellars!...
...,...,...,...,...,...,...
3277657,HelloFresh US,Online Food Ordering Service,"38,695",4.4,1,I just want to say again. NO CUSTOMER SERVICE ...
3277658,HelloFresh US,Online Food Ordering Service,"38,695",4.4,2,I tried Hello Fresh out of curiosity. I liked ...
3277659,HelloFresh US,Online Food Ordering Service,"38,695",4.4,1,First time customer of Hello Fresh and came ho...
3277660,HelloFresh US,Online Food Ordering Service,"38,695",4.4,2,My first box was great and I thought I would r...
3277661,HelloFresh US,Online Food Ordering Service,"38,695",4.4,3,I loved HelloFresh after my first delivery. Yo...

In [6]:
market_companies = companies_list[['company_market', 'subsidiaries', 'price']]

In [ ]:
market_companies

In [ ]:
#Reviews data is sampled in order to speed up computations.
#reviews_food_beverages_tobacco = reviews_food_beverages_tobacco.sample(frac = 0.01, replace = False, random_state=42)
#list(reviews_food_beverages_tobacco)

In [7]:
reviews_food_beverages_tobacco['first_10_letters'] = reviews_food_beverages_tobacco['company_review'].str[:10]

reviews_food_beverages_tobacco['last_20_letters'] = reviews_food_beverages_tobacco['company_review'].str[-20:]

reviews_food_beverages_tobacco.dropna(subset=['review_text'], inplace=True)

In [8]:
market_companies = market_companies[['company_market', 'subsidiaries', 'price']]
market_companies['all_names'] = market_companies['company_market'].str.cat(companies_list['subsidiaries'],sep=", ")
market_companies.all_names.fillna(market_companies.company_market, inplace=True)

In [9]:
#define index
market_companies.set_index('company_market')

# split the strings into lists
market_companies['all_names'] = market_companies['all_names'].str.split(', ')

# explode the lists
market_companies = market_companies.explode('all_names').reset_index(drop=True)
#market_companies = market_companies.fillna(value=np.nan)

#Test_Subset = market_companies.loc[(market_companies['company'] == 'Yum! Brands Inc')]
#Test_Subset

In [10]:
market_companies['first_10_letters'] = market_companies['all_names'].str[:10]
market_companies['last_20_letters'] = market_companies['all_names'].str[-20:]

market_companies.drop_duplicates(subset='all_names', keep="last")

,company_market,subsidiaries,price,all_names,first_10_letters,last_20_letters
0,3M Company,None,222.89,3M Company,3M Company,3M Company
1,A.O. Smith Corp,None,60.24,A.O. Smith Corp,A.O. Smith,A.O. Smith Corp
2,Abbott Laboratories,None,56.27,Abbott Laboratories,Abbott Lab,Abbott Laboratories
3,AbbVie Inc.,None,108.48,AbbVie Inc.,AbbVie Inc,AbbVie Inc.
4,Accenture plc,None,150.51,Accenture plc,Accenture,Accenture plc
...,...,...,...,...,...,...
3209,Zions Bancorp,"Amegy Bank of Texas, California Bank and Trust...",50.71,Nevada State Bank,Nevada Sta,Nevada State Bank
3210,Zions Bancorp,"Amegy Bank of Texas, California Bank and Trust...",50.71,Vectra Bank Colorado,Vectra Ban,Vectra Bank Colorado
3211,Zions Bancorp,"Amegy Bank of Texas, California Bank and Trust...",50.71,Zions Bank,Zions Bank,Zions Bank
3212,Zions Bancorp,"Amegy Bank of Texas, California Bank and Trust...",50.71,Zions Direct,Zions Dire,Zions Direct
3213,Zoetis,None,71.51,Zoetis,Zoetis,Zoetis

In [ ]:
match_2_10 = list(market_companies.first_10_letters.unique())
match_1_10 = list(reviews_food_beverages_tobacco.first_10_letters.unique())

match_2_15 = list(market_companies.last_20_letters.unique())
match_1_15 = list(reviews_food_beverages_tobacco.last_20_letters.unique())

In [ ]:
def match_names(name, list_names, min_score=0):
    #-1 we dont get any matches
    max_score = -1
    #returning empty name for no match
    max_name = ""
    #iternating over all names in the other
    for x in list_names:
        #finding fuzzy match score
        score = fuzz.ratio(name, x)
        #checking if we are above our threshold and have a better score
        if (score>min_score)& (score>max_score):
            max_name=x
            max_score=score
    return (max_name, max_score)

In [ ]:
names= []
for x in match_1_10:
    match = match_names(x, match_2_10, 90)
    if match[1] >=90:
        name = ('(' + str(x), str(match[0]) +')')
        names.append(name)
name_dict_first = dict(names)

name_dict_first

In [ ]:
names_2= []
for x in match_1_15:
    match = match_names(x, match_2_15, 90)
    if match[1] >=90:
        name_2 = ('(' + str(x), str(match[0]) +')')
        names_2.append(name_2)
name_dict_last = dict(names_2)

name_dict_last

In [ ]:
first_10_letters_items = name_dict_first.items()
first_10_letters_list = list(first_10_letters_items)
first_10_letters_df = pd.DataFrame(first_10_letters_list)
first_10_letters_df.columns = ['review_company_abbrev', 'exchange_company_abbrev']
first_10_letters_df['review_company_abbrev'] = first_10_letters_df['review_company_abbrev'].str[1:] 
first_10_letters_df['exchange_company_abbrev'] = first_10_letters_df['exchange_company_abbrev'].str[:-1] 
first_10_letters_df

In [ ]:
last_20_letters_items = name_dict_last.items()
last_20_letters_list = list(last_20_letters_items)
last_20_letters_df = pd.DataFrame(last_20_letters_list)
last_20_letters_df.columns = ['review_company_abbrev', 'exchange_company_abbrev']
last_20_letters_df['review_company_abbrev'] = last_20_letters_df['review_company_abbrev'].str[1:] 
last_20_letters_df['exchange_company_abbrev'] = last_20_letters_df['exchange_company_abbrev'].str[:-1] 
last_20_letters_df

In [ ]:
first_10_letters_reviews = pd.merge(first_10_letters_df, reviews_food_beverages_tobacco, left_on = 'review_company_abbrev', right_on = 'first_10_letters', how = 'inner')
last_20_letters_reviews = pd.merge(last_20_letters_df, reviews_food_beverages_tobacco, left_on = 'review_company_abbrev', right_on = 'last_20_letters', how = 'inner')
Merged_fuzzy_reviews = first_10_letters_reviews.append(last_20_letters_reviews, ignore_index=True)
Merged_fuzzy_reviews

In [ ]:
out = []
seen = set()
for c in Merged_fuzzy_reviews['review_text']:
    words = c.split()
    out.append(' '.join([w for w in words if w not in seen]))
    seen.update(words)

Merged_fuzzy_reviews['Final_review_text'] = out
Merged_fuzzy_reviews = Merged_fuzzy_reviews[Merged_fuzzy_reviews.Final_review_text != '']
#Test_2 = Merged_fuzzy_reviews.loc[(Merged_fuzzy_reviews['company_review'] == 'Full Circle')]
#Test_2

In [ ]:
bigdata1 = pd.merge(Merged_fuzzy_reviews, market_companies, on = 'first_10_letters', how = 'left')

bigdata = bigdata1[['company_review', 'company_market', 'subsidiaries','all_names','category', 'total_reviews', 'general_rating', 'review_rating', 'review_text', 'price']]
bigdata.isna().sum()
#bigdata

In [ ]:
bigdata["total_reviews"] = bigdata["total_reviews"].str.replace(",","").astype(float)

#Set column as numeric
bigdata['total_reviews'] = pd.to_numeric(bigdata['total_reviews'])
bigdata['general_rating'] = pd.to_numeric(bigdata['general_rating'])
bigdata['review_rating'] = pd.to_numeric(bigdata['review_rating'])

In [ ]:
import numpy as np
bigdata['review_text'].replace('', np.nan, inplace=True)
bigdata.dropna(subset=['review_text'], inplace=True)
bigdata['review_text']= bigdata['review_text'].astype(str)

In [ ]:
spec_chars = ["!",'"',"#","%","&","'","(",")",
              "*","+",",","-",".","/",":",";","<",
              "=",">","?","@","[","\\","]","^","_",
              "`","{","|","}","~","–"]
for char in spec_chars:
    bigdata['review_text'] = bigdata['review_text'].str.replace(char, ' ')
    
bigdata['review_text'] = bigdata['review_text'].str.split().str.join(" ")

In [ ]:
def clean_text(text):
    # lower text
    text = text.lower()
    # tokenize text and remove puncutation
    text = [word.strip(string.punctuation) for word in text.split(" ")]
    # remove words that contain numbers
    text = [word for word in text if not any(c.isdigit() for c in word)]
    # remove stop words
    stop = stopwords.words('english')
    text = [x for x in text if x not in stop]
    # remove empty tokens
    text = [t for t in text if len(t) > 0]
    # pos tag text
    pos_tags = pos_tag(text)
    # lemmatize text
    #text = [WordNetLemmatizer().lemmatize(t[0], get_wordnet_pos(t[1])) for t in pos_tags]
    # remove words with only one letter
    text = [t for t in text if len(t) > 1]
    # join all
    text = " ".join(text)
    return(text)

# clean text data
bigdata["review_clean"] = bigdata["review_text"].apply(lambda x: clean_text(x))

In [ ]:
from collections import Counter
all_names = bigdata['review_clean'].unique()
names_freq = Counter()
for name in all_names:
    names_freq.update(str(name).split(" "))
key_words = [word for (word,_) in names_freq.most_common(30)]
print(key_words)

In [ ]:
# add sentiment anaylsis columns
from nltk.sentiment.vader import SentimentIntensityAnalyzer

sid = SentimentIntensityAnalyzer()
bigdata["sentiments"] = bigdata["review_clean"].apply(lambda x: sid.polarity_scores(x))
bigdata = pd.concat([bigdata.drop(['sentiments'], axis=1), bigdata['sentiments'].apply(pd.Series)], axis=1)

In [ ]:
from afinn import Afinn
afinn = Afinn(language='en')

In [ ]:
bigdata.head()

In [ ]:
bigdata['afinn_score'] = bigdata['review_clean'].apply(afinn.score)

In [ ]:
bigdata['afinn_score'].describe()

In [ ]:
columns_to_display = bigdata[['review_clean', 'afinn_score']]

columns_to_display.sort_values(by='afinn_score').head(10)

In [ ]:
columns_to_display.sort_values(by='afinn_score').tail(10)

In [ ]:
def word_count(text_string):
    '''Calculate the number of words in a string'''
    return len(text_string.split())

bigdata['word_count'] = bigdata['review_clean'].apply(word_count)

bigdata['word_count'].describe()

In [ ]:
bigdata['afinn_adjusted'] = bigdata['afinn_score'] / bigdata['word_count'] * 100
bigdata['afinn_adjusted'].describe()

In [ ]:
def count_occurences(text, word_list):
    '''Count occurences of words from a list in a text string.'''
    text_list = text_to_words(text)

    intersection = [w for w in text_list if w in word_list]

    return len(intersection)

def text_to_words(text):
    '''Transform a string to a list of words,
    removing all punctuation.'''
    text = text.lower()

    p = '!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'
    text = ''.join([ch for ch in text if ch not in p])

    return text.split()

In [ ]:
#Read table sustainability_words from Database
sustainability_words = pd.read_sql_table(
    "sustainability_words",
    con=engine
)

In [ ]:
social_words_list = sustainability_words['social_sustainability'].values

bigdata['social_sustainability_words'] = bigdata['review_clean'].apply(count_occurences, args=(social_words_list, ))

In [ ]:
environmental_words_list = sustainability_words['environmental_sustainability'].values

bigdata['environmental_sustainability_words'] = bigdata['review_clean'].apply(count_occurences, args=(environmental_words_list, ))

In [ ]:
economic_words_list = sustainability_words['economic_sustainability'].values

bigdata['economic_sustainability_words'] = bigdata['review_clean'].apply(count_occurences, args=(economic_words_list, ))

In [ ]:
sustainability_words = ['environmental_sustainability_words', 'economic_sustainability_words', 'social_sustainability_words']
bigdata[sustainability_words].describe()

In [ ]:
bigdata['social_sustainability_words'].value_counts()

In [ ]:
bigdata['economic_sustainability_words'].value_counts()

In [ ]:
bigdata['environmental_sustainability_words'].value_counts()

In [ ]:
filter_bigdata = bigdata[(bigdata['social_sustainability_words'] >= 1) | (bigdata['environmental_sustainability_words'] >=1) 
                                              | (bigdata['economic_sustainability_words'] >=1)]
filter_bigdata

In [ ]:

filter_bigdata['total_sust_reviews'] = filter_bigdata.groupby(by='company_review')['company_review'].transform('count')

filter_bigdata['total_environmental_reviews'] = filter_bigdata.groupby('company_review')['environmental_sustainability_words'].transform('sum')

filter_bigdata['total_social_reviews'] = filter_bigdata.groupby('company_review')['social_sustainability_words'].transform('sum')
filter_bigdata['total_economic_reviews'] = filter_bigdata.groupby('company_review')['economic_sustainability_words'].transform('sum')

In [ ]:
def divide_two_cols(df_sub):
    df_sub['Sustainability Index'] = df_sub['total_sust_reviews'] / (df_sub['total_reviews']) * 100
    return df_sub


filter_bigdata = filter_bigdata.groupby('company_review').apply(divide_two_cols)

In [ ]:
def ratio_division_social(df_sub):
    df_sub['Social Index'] = df_sub['total_social_reviews'] / (df_sub['total_sust_reviews']) * 100
    return df_sub

filter_bigdata = filter_bigdata.groupby('company_review').apply(ratio_division_social)

In [ ]:
def ratio_division_environmental(df_sub):
    df_sub['Environmental Index'] = df_sub['total_environmental_reviews'] / (df_sub['total_sust_reviews']) * 100
    return df_sub

filter_bigdata = filter_bigdata.groupby('company_review').apply(ratio_division_environmental)

In [ ]:
def ratio_division_economic(df_sub):
    df_sub['Economic Index'] =  df_sub['total_economic_reviews'] / (df_sub['total_sust_reviews']) * 100
    return df_sub
filter_bigdata = filter_bigdata.groupby('company_review').apply(ratio_division_economic)

In [ ]:
list(filter_bigdata)

In [ ]:
#Subset_Pizza = filter_bigdata.loc[(filter_bigdata['company_review'] == 'Pizza Hut')]
#Subset_Pizza

#for loop and in that groupby subs. 
#manually select subs. and create subset to calculate avg sust. index
#or groupby company name and sub. together 
#df[['Dept', 'Sal']].groupby(['Dept', 'Sal']).size().reset_index(name='counts')

In [ ]:
final_df = filter_bigdata[['company_review', 'company_market','subsidiaries', 'all_names','category', 'total_reviews', 
                      'total_sust_reviews', 'Sustainability Index', 
                      'Social Index', 'Environmental Index', 'Economic Index', 'price']]

final_df = final_df.drop_duplicates(subset='company_review', keep="last")
final_df

In [ ]:
#check for which review company we have to calculate again the mean, since its a subsidiary
find_duplicates = final_df[final_df['company_market'].duplicated(keep=False)]
find_duplicates

In [ ]:
# Calulate the new mean for all parent companies 
find_duplicates['Avg Sustainability Index'] = find_duplicates['Sustainability Index'].groupby(find_duplicates['company_market']).transform('mean')
find_duplicates['Avg Social Index'] = find_duplicates['Social Index'].groupby(find_duplicates['company_market']).transform('mean')
find_duplicates['Avg Environmental Index'] = find_duplicates['Environmental Index'].groupby(find_duplicates['company_market']).transform('mean')
find_duplicates['Avg Economic Index'] = find_duplicates['Economic Index'].groupby(find_duplicates['company_market']).transform('mean')

find_duplicates = find_duplicates[['company_market', 'Avg Sustainability Index', 'Avg Social Index', 'Avg Environmental Index', 'Avg Economic Index']]
find_duplicates

In [ ]:
find_duplicates_final = pd.merge(find_duplicates, final_df, on = 'company_market', how = 'outer')

find_duplicates_final = find_duplicates_final.drop_duplicates(subset=None, keep="first", inplace=False)
find_duplicates_final

In [ ]:
find_duplicates_final['Avg Sustainability Index'].fillna(find_duplicates_final['Sustainability Index'], inplace=True)
find_duplicates_final['Avg Social Index'].fillna(find_duplicates_final['Social Index'], inplace=True)
find_duplicates_final['Avg Environmental Index'].fillna(find_duplicates_final['Environmental Index'], inplace=True)
find_duplicates_final['Avg Economic Index'].fillna(find_duplicates_final['Economic Index'], inplace=True)
del find_duplicates_final['Sustainability Index']
del find_duplicates_final['Social Index']
del find_duplicates_final['Environmental Index']
del find_duplicates_final['Economic Index']
find_duplicates_final

In [ ]:
find_duplicates_final['Avg Sustainability Index'] = pd.to_numeric(find_duplicates_final['Avg Sustainability Index'])
#NEWDATA_Test5['Avg Social Index'] = pd.to_numeric(NEWDATA_Test5['Avg Sustainability Index'])
#NEWDATA_Test5['Avg Environmental Index'] = pd.to_numeric(NEWDATA_Test5['Avg Sustainability Index'])
#NEWDATA_Test5['Avg Economic Index'] = pd.to_numeric(NEWDATA_Test5['Avg Sustainability Index'])
find_duplicates_final['price'] = pd.to_numeric(find_duplicates_final['price'])
find_duplicates_final

In [ ]:
find_duplicates_final = find_duplicates_final.drop_duplicates(subset='company_market', keep="last")
find_duplicates_final = find_duplicates_final[['company_market', 'Avg Sustainability Index', 'Avg Social Index', 'Avg Environmental Index', 'Avg Economic Index', 'price']]
find_duplicates_final.round(2)
reviews_food_beverages_tobacco_final = find_duplicates_final

In [ ]:
reviews_food_beverages_tobacco_final.to_sql('reviews_food_beverages_tobacco_final', engine)

In [ ]:
find_duplicates_final.corr()
find_duplicates_final.round(2)

In [ ]:
from sklearn.datasets import load_boston
import pandas as pd
from pandas import DataFrame
import matplotlib.pyplot as plt
%matplotlib inline
from numpy import corrcoef
import seaborn as sns

In [ ]:
# Allows for easy plotting of heatmaps
import seaborn as sns

In [ ]:
sns.heatmap(find_duplicates_final.corr(), annot=True)
plt.show()